<%= form('/', :post, :class => 'contact-form') %>
  <%= label(:form, :name, " ", :class => 'contact-form__label') %>
  <%= tag :span, 'Имя:' %>
  <%= input(:form, :name, {:class => 'contact-form__input', :placeholder => 'Введите имя'}) %>

  <%= label(:form, :email, " ", :class => 'contact-form__label') %>
  <%= tag :span, 'E-mail:' %>
  <%= input(:form, :email, {:class => 'contact-form__input', :placeholder => 'Введите email'}) %>

  <%= label(:form, :message, " ", :class => 'contact-form__label') %>
  <%= tag :span, 'Текст сообщения:' %>
  <%= textarea(:form, :message, '', :class => 'contact-form__input', :placeholder => 'Введите сообщение') %>

  <%= submit 'Отправить', :class => 'contact-form__btn btn', :name => 'send' %>
</form>
